*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  text-align: center;
}

.quadrado{
  width: 130px;
  text-align: center;
  background-color: #eee;
  display: inline-block;
  padding: 48px;
  margin: 5px;
  font-size: 60px;
  cursor: pointer;
  color: #eee;
}

.jogador, .vencedor{
  font-size: 30px;
  margin-top: 10px;
}

button{
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: #eee;
  cursor: pointer;
}